@model ResumeManager.Models.Applicant

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Resume</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalExperience" class="control-label"></label>
                <input asp-for="TotalExperience" class="form-control" />
                <span asp-validation-for="TotalExperience" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfilePhoto" class="control-label">Upload Profile Image</label>
                <div class="custom-file">
                <input asp-for="ProfilePhoto" class="custom-file-input" id="ImageFile" onchange="document.getElementById('ProfilIm').src = window.URL.createObjectURL(this.files[0])" >
                <span asp-validation-for="ProfilePhoto" clss="text-danger"></span>
                <img id="ProfilIm" src="" alt="Profile Image" width="100"height="100" />
                </div>
            </div>
            <table class="table" id="ExpTable">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Designation</th>
                        <th>Years Worked</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Experiences.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.EditorFor(e=> e.Experiences[i].CompanyName,new{htmlAttributes= new{@class="form-control"}})
                            </td>
                            <td>
                                @Html.EditorFor(e=> e.Experiences[i].Designation,new{htmlAttributes= new{@class="form-control"}})
                            </td>
                            <td>
                                @Html.EditorFor(e=> e.Experiences[i].YearsWorked,new{htmlAttributes= new{@class="form-control"}})
                            </td>
                            <td>
                                <button id="btnadd-@i" type="button" class="btn btnsmall btn-secondary visible" onclick="AddItem(this)">add</button>
                                <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger invisible" onclick="DeleteItem(this)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn  btn-success " /> |  
                <input type="button" class="btn btn-primary" value="Back to List" onclick="location.href='@Url.Action("Index", "Resume")'" />

            </div>
        </form>
    </div>
</div>

<div>

</div>
<input type="hidden" id="hdnLastIndex" value="0" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });



        function DeleteItem(btn) {
            $(btn).closest('tr').remove();
        }



        function AddItem(btn) {

            var table = document.getElementById('ExpTable');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = document.getElementById('hdnLastIndex').value;

            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;



            var btnAddID = btn.id;
            var btnDeleteid = btnAddID.replaceAll('btnadd', 'btnremove');

            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add("visible");
            delbtn.classList.remove("invisible");


            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.remove("visible");
            addbtn.classList.add("invisible");

        }

    </script>
}